body {
    font-family: Arial, Helvetica, sans-serif;
}

.layout {
    display: grid;
    grid-template-columns: 500px 1500px;
    grid-template-rows: 1fr 850px;
    grid-template-areas: 
        "header header"
        "info map";
}

.header-bar {
    grid-area: header;
    font-size: 20px;
    color: white;
    background-color: rgb(25, 25, 27);
    display: flex;
    justify-content: center;  
    align-items: center;     
}

.info-display {
    grid-area: info;
    background-color: rgb(228, 230, 229); 
    border: 1px solid black;
    border-top:none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.player {
    height: 175px;
    width: 350px;
    border: 1px solid black;
    background-color: white;
    display: grid;
    grid-template-columns: 125px 1fr;
}

.player-icon {
    border-right: 1px solid black;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.person {
    height: 125px;
    width: 100px;
}

.location-data {
   font-size: 12px;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   padding-left: 5px; 
}

.travel-button1 {
    width: 100px;
    margin: 0 auto;
    color:white;
    font-weight: bold;
    background-color: #d33434;
    border: 1px solid black;
    border-radius: 5px;
}

.travel-button2 {
    width: 100px;
    margin: 0 auto;
    color:white;
    font-weight: bold;
    background-color: #242699;
    border: 1px solid black;
    border-radius: 5px;
}

.travel-button3 {
    width: 100px;
    margin: 0 auto;
    color:white;
    font-weight: bold;
    background-color: #17837d;
    border: 1px solid black;
    border-radius: 5px;
}

.world-map {
    grid-area: map;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    z-index: 1;
}

.map-image {
    position: relative;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 1;
}


.travel-form {
    height: 400px;
    width: 350px;
    border: 1px solid black;
    position: absolute;
    top: 250px;
    left: 625px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    visibility: hidden;
    z-index: 2;
}

.form-title {
    font-size: 18px;
    font-weight: bold;
}

.subject {
    font-size: 16px;
    font-weight: bold;
}

.continent-dropdown, .city-dropdown {
    height: 25px;
    width: 150px;
    font-size: 15px;
    transform: translateY(-20px);
}

.submit, .cancel {
    height: 40px;
    width: 120px;
    font-size: 15px;
    margin-bottom: 10px;
    position: relative;
    margin: 0 15px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.submit {
    color: white;
    background-color:#17834d;
    border: 1px solid black;
    top: 32px;
    left: -70px;
}

.cancel {
    color: white;
    background-color: #d33434;
    border: 1px solid black;
    top: -32px;
    left: 70px;
}

