.blinkPlayer1 {
    animation: blinker 2s linear infinite;
  }

  @keyframes blinker {
    50% {
      fill:#d33434 !important;
    }
  }

  .blinkPlayer2 {
    animation: blinker2 2s linear infinite;
  }

  @keyframes blinker2 {
    50% {
      fill:#242699 !important;
    }
  }

  .blinkPlayer3 {
    animation: blinker3 2s linear infinite
  }

  @keyframes blinker3 {
    50% {
      fill:#17837d !important;
    }
  }
  